{
    "root": true,
    "env": {
        "browser": true,
        "node": true,
        "es2022": true
    },
    "extends": [
        "@meiko/typescript",
        "@meiko/typescript/vue"
    ],
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "parser": {
            "ts": "@typescript-eslint/parser",
            "js": "@typescript-eslint/parser",
            "<template>": "espree"
        },
        "ecmaVersion": "latest",
        "project": "./tsconfig.json",
        "sourceType": "module",
        "extraFileExtensions": [
            ".vue"
        ]
    },
    "settings": {
        "import/resolver": {
            "typescript": {
                "alwaysTryTypes": true,
                "project": "./.nuxt/tsconfig.json"
            }
        }
    }
}
